.container {
  display: 'flex';
  padding-left: 16px;
  padding-right: 16;
}

.searchIcon {
  margin-top: 37px;
}

.searchButton {
  margin-top: 23px;
}

.searchLoading {
  margin-top: 25px;
  margin-left: -47px;
}