.container {
  display: 'flex';
  padding-left: 16px;
  padding-right: 16;
}

.searchIcon {
  margin-top: 37px;
}

.searchButton {
  margin-top: 23px !important;
}

.circularProgress {
  position: absolute;
  margin-top: 25px;
  margin-left: -47px;
}

.linearProgress {
  top: -10px;
}

.card {
  height: 100%;
}

.card .media {
  height: 120px;
  background-size: 120px;
}

.card .title {
  font-size: 0.875rem;
  font-weight: 500;
  min-height: 40px;
  max-height: 40px;
  overflow: hidden;
}

.card .addButton {
  margin-left: 'auto';
}

.card .contentLoading {
  margin-top: 40%;
  margin-left: 25%;
}

.searchBg {
  display: flex;
  justify-content: center;
  color: lightgray;
  margin-top: 2em;
}

.noResultsBg {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: gray;
  display: flex;
  margin-top: 2em;
  font-weight: bold;
  letter-spacing: 2px;
  flex-flow: column;
  align-items: center;
}

.noResultsBg > div:first-of-type {
  width: 50%;
}

.noResultsBg img {
  width: 100%;
}
